@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
*{
    box-sizing: content-box;
}
header{
    width: 100%;
    height: 4px;
    background-color: #fffff0;
}
img{
    width: 70%;
}
html{
    font: italic 500 19px 'Nothing You Could Do' , cursive;
    line-height: 1.5;
    background-color: #061523;
}
article{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    color: white;
}
h1{
    text-align: center;
}
figure{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
figcaption{
    font-style: normal;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: sans-serif;
    font-size: 0.62em;
    color: slategrey;
}
span{
    display: inline-block;
    width: 20px;
    height: 1em;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.box{
    width: 40vh;
    padding: 10px;
    transition: 0.5s;
}
.box img {border-radius: 6px;}

.box:hover{
    transform: scale(1.5);
    z-index: 2;
}
.kapsayankutu{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.kutu{
    width: 29vh;
    padding-left: 10px;
}
.renk{
    color: white;
}
blockquote{
    text-align: center;
    font-size: 70%;
}

form{
    padding: 40px; 
    width: 260px; 
    margin-left: auto;
    margin-right: auto;
}
.form-row{
    margin-bottom: 20px; 
}

.form-row label { 
    color: white;
    display: block ; 
    margin-bottom: 6px;
}
input[type = "text"],
input[type = "tel"],
input[type = "email"], select, textarea, button{
    width: 100%; 
    border-radius: 5px; 
    height: 42px;     border: 1px solid rgba(0,0,0,0.2); 
    padding-left: 15px; 
    padding-right: 15px;
    font-size: inherit; 
    font-family: inherit;
    background-color: #fff;
     
} 
input[type = "text"] ::placeholder,
input[type = "tel"] ::placeholder,
input[type = "email"] ::placeholder,
textarea ::placeholder{
    color: rgb(175, 175,175);
}
input[type = "text"] :focus,
input[type = "tel"] :focus,
input[type = "email"] :focus,
textarea :focus{
    border-color: rgb(68,176,255);
}
textarea{
    height: 60px; 
    padding-bottom: 10px; 
    padding-top: 10px;
    min-height: 42px; 
    max-height: 200px;
    resize: vertical; 
}

button[type="submit"]{
    color: white;
    background-color: rgb(68,176,255);
    padding-left: 10px;
}

.tus{
    display: flex;
    flex-wrap: nowrap;
}

